<link href="Styles/Footer.css" rel="stylesheet" type="text/css" />

<foot id="foot">
    <div class="foottext">
    <p>Property of J.A Weighell, Links to projects and contact information below</p>
        </div>
    
    <div class="links">  
        <a href="LINK"><img src="Styles/Images/Placeholderlogo.png" alt="Link1" style="width:32px;height:32px;"></a>
        <a href="LINK"><img src="Styles/Images/Placeholderlogo.png" alt="Link2" style="width:32px;height:32px;"></a>
        <a href="LINK"><img src="Styles/Images/Placeholderlogo.png" alt="Link3" style="width:32px;height:32px;"></a>
        <a href="LINK"><img src="Styles/Images/Placeholderlogo.png" alt="Link4" style="width:32px;height:32px;"></a>
        <a href="LINK"><img src="Styles/Images/Placeholderlogo.png" alt="Link5" style="width:32px;height:32px;"></a>
    </div>
    
    <div class="contact">
    <p> Contact email: Dyscolour@gmail.com</p>
    </div>
    
    <div class="copywrite">
    <p>&copy; 2024 Jordan Weighell</p>
        </div>
</foot>