<!DOCTYPE HTML>
<! Meta >
<html lang="en">
    <link href="Styles/Grid2.css" rel="stylesheet" type="text/css" />
    <title>Home Page</title>
   <meta charset="utf-8" />
   <meta name="author" content="Jordan Weighell" />
   <meta name="description" content="Home" />
<! Meta >
<! Java >
<! Java >
<! Body>
    
<body>
<section id="page">
<! header >
<header>
    <p>12334</p>
</header>
<! header > 
<! main > 
<main>
   <p>12334</p>
</main>
<! main >  
<! side >
    <side>
    
    <p>12334</p>
    
    </side>
<! side >
<! foot >
<foot>  
    <p>12334</p>
</foot>
<! foot >
</section>    
</body>
    
<! Body>