<!DOCTYPE HTML>
<! Meta >
<html lang="en">
    <link href="Styles/Grid3.css" rel="stylesheet" type="text/css" />
    <title>Home Page</title>
   <meta charset="utf-8" />
   <meta name="author" content="Jordan Weighell" />
   <meta name="description" content="Home" />
<! Meta >
<! Java >
<! Java >
<! Body>
    
<body>
<section id="page">
<! header >
<header>
    <p>12334</p>
</header>
<! header > 
<! main > 
<main>
        <div class="box a"><p>12334</p></div>
        <div class="box b"><p>12334</p></div>
        <div class="box c"><p>12334</p></div>
        <div class="box d"><p>12334</p></div>
        <div class="box e"><p>12334</p></div>
        <div class="box f"><p>12334</p></div>
</main>
<! main >  
<! foot >
<foot>  
    <p>12334</p>
</foot>
<! foot >
</section>    
</body>
    
<! Body>