
<link href="Styles/Header.css" rel="stylesheet" type="text/css" />


<header id="header">
<div class="logo">
    <img class="img1" src="Styles/Images/Placeholderlogo.png" alt="Logo">
        </div>
    <br>
    <div class="h1">
    <h1>Worldbuilding Projects and Blog!</h1>
        </div>
    
    <div class="navbar">
                <div class="dropdown">
                    <button class="dropbtn">Explore ⮟
                     <i class="fa fa-caret-down"></i>
                     </button>
                    <div class="dropdown-content">
                        <a href="Index.html">Home</a>
                        <a href="About.html">About</a>
                        <a href="Allpages.html">All Pages</a>
                        <a href="Allmaps.html">All Maps</a>
                        <a href="Blog.html">Blog</a>
                     </div>
                </div>   
                <div class="dropdown">
                    <button class="dropbtn">Project 1 ⮟
                     <i class="fa fa-caret-down"></i>
                     </button>
                    <div class="dropdown-content">
                        <a href="Characters.html">Characters</a>
                        <a href="Locations.html">Locations</a>
                        <a href="Inhabitans.html">Inhabitans</a>
                        <a href="Factions.html">Factions</a>
                        <a href="Armour.html">Armour</a>
                        <a href="Weapons.html">Weapons</a>
                        <a href="Magic.html">Magic</a>
                        <a href="Religion.html">Religion</a>
                        <a href="History.html">History</a>
                        <a href="Stories.html">Stories</a>
                     </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Project 2 ⮟
                     <i class="fa fa-caret-down"></i>
                     </button>
                    <div class="dropdown-content">
                        <a href="Index.html">Home</a>
                        <a href="Index.html">WIP</a>
                     </div>
                </div>
        
    </div>
</header>
    