#page {
  display: grid;
  background-color: #0E1111;
  background-repeat: no-repeat;
  grid-template-areas:
    "head head"
    "main main"
    "foot foot";
}
/* Grid */
#page > header {
  grid-area: head;
  background-image: url(Images/Placeholder.jpg);
  margin: 20px;
  padding: 50px;
  padding-bottom: 40px;
  border-bottom: 0.2vw solid black;
  border-radius: 2px;
  border: 2px solid black;
}
#page > main {
  grid-area: main;
  text-align: center;
  margin: 20px;
  background-color: #282b2d;
  border-top: 0.2vw solid black;
  border-bottom: 0.2vw solid black;
  border-radius: 2px;
  border: 2px solid black;
}
#page > foot {
  grid-area: foot;
  text-align:center;
  margin: 20px;
  background-color: #282b2d;
  border-top: 0.2vw solid black;
  border-bottom: 0.2vw solid black;
  border-radius: 2px;
  border: 2px solid black;
}
/* Grid */